<header>
  <nav class="navbar">
    <div class="nav-left">
      <button class="nav-button" (click)="navigateTo('wallet/buy')">Buy</button>
      <button class="nav-button" (click)="navigateTo('wallet/sell')">Sell</button>
      <button class="nav-button">Info</button>
      <button class="nav-button" (click)="navigateTo('wallet/deposit_money')">Deposit</button>
    </div>
    <div class="nav-right">
      <img src="https://i.pinimg.com/564x/57/00/c0/5700c04197ee9a4372a35ef16eb78f4e.jpg" alt="Profile" class="profile-logo" (click)="navigateTo('user')">
      <!--(click)="goToProfile()"-->
    </div>
  </nav>
</header>

<main>
  <section class="feature">
    <h2>Buy, Sell, and Track Cryptocurrencies with Ease</h2>
    <p>Discover the power of managing your digital assets effortlessly. CryptoWallet empowers you to seamlessly buy and sell cryptocurrencies, all from the comfort of your fingertips. </p>
  </section>
  <section class="feature">
    <h2>Stay Informed with Real-Time Market Updates</h2>
    <p>Track market trends in real-time with CryptoWallet. Stay ahead of the curve by accessing up-to-the-minute prices, market cap rankings, and trading volumes across a wide range of cryptocurrencies. Empower your decisions with the latest data at your disposal.</p>
  </section>
  <section class="feature">
    <h2>Detailed Statistics at Your Fingertips</h2>
    <p>Gain valuable insights into your portfolio's performance with comprehensive statistics. Analyze your holdings, monitor gains and losses, and optimize your strategy with detailed charts and graphs. </p>
  </section>
</main>
<footer>
  <p>&copy; 2024 CryptocurrencyWalletManager. All rights reserved.</p>
</footer>

<!--TODO: remove, for test purposes-->
<!--
<div>
  <button (click)="fetchData()">Fetch Data</button>
  <div *ngIf="requested">
    <p>{{ isLogged }}</p>
  </div>
  <div *ngIf="errorMessage" class="error" [innerHTML]="errorMessage"></div>
</div>
-->
