<header>
  <nav class="navbar">
    <div class="nav-left">
      <button class="nav-button" (click)="navigateTo('wallet/buy')">Buy</button>
      <button class="nav-button" (click)="navigateTo('wallet/sell')">Sell</button>
      <button class="nav-button">Info</button>
      <button class="nav-button" (click)="navigateTo('wallet/deposit_money')">Deposit</button>
    </div>
    <div class="nav-right">
      <img src="https://i.pinimg.com/564x/57/00/c0/5700c04197ee9a4372a35ef16eb78f4e.jpg" alt="Profile" class="profile-logo" style="background-color: cornflowerblue;">
    </div>
  </nav>
</header>

<div class="main">
  <div class="body">
    <div class="form-container">
      <img src="https://i.pinimg.com/564x/57/00/c0/5700c04197ee9a4372a35ef16eb78f4e.jpg" alt="Profile" class="profile-logo-profile-tab" >
      <p>Hi, {{ getCurrentUserName() }} !</p>
      <form id="buyForm" (ngSubmit)="updateUserForm()">
        <div class="form-group">
          <label for="userName">New username</label>
          <input type="text" id="userName" name="userName" [(ngModel)]="userName" required>
        </div>
        <div class="form-group">
          <label for="password">New password</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="form-group">
          <button type="submit">Update credentials</button>
        </div>
        <div class="form-group">
          <button (click)="logout()" style="background-color: red">Logout</button>
        </div>
        <div *ngIf="errorMessage" class="error" [innerHTML]="errorMessage"></div>
        <div *ngIf="successMessage" class="success" [innerHTML]="successMessage"></div>
      </form>
    </div>
  </div>
</div>
